/* DESPRE NOI */

/* page-styles.css */
.dn-btn-links {
  padding: 35px 10px;
  background-color: gray;
  text-align: center;
  margin-top: 90px;
}
.dn-btn-links h1 {
  margin-bottom: 20px;
  color: rgb(26, 25, 25);
  font-weight: 900;
}

.dn-btn-links button {
  margin-right: 45px;
  padding: 10px 45px;
  font-weight: bold;
}

.dn-disclaimer {
  padding: 35px 10px;
  background-color: gray;
  text-align: center;
}

/* ImagePainting */

.ImagePainting-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(202, 210, 141);
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.ImagePainting-imageContainer {
  width: 95%;
  position: relative;
}

.ImagePainting-imageContainer img {
  border-radius: 20px;
}

/* Sidebar */

.sidebar {
  height: calc(100vh - 90px);
  width: 250px;
  position: fixed;
  top: 90px;
  left: 0;
  background-color: #333;
  padding: 20px;
  color: #fff;
  z-index: 100;
}

.sidebar-relative {
  position: relative;
}

.sidebar h4 {
  margin-bottom: 10px;
}

.sidebar input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.sidebar label {
  display: block;
  margin-bottom: 10px;
}

.sidebar select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.icon {
  background-color: #333;
  font-size: 25px;
  position: absolute;
  top: 70%;
  right: -45px; /* adjust as needed */
  cursor: pointer;
  z-index: 120; /* make sure the icon is above the sidebar */
}

/* Sidebar Animation */
.sidebar.closed {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
